/* 
Tamanhos
- Mobile: 375px
- Desktop: 1440px
*/

/* Variáveis */
/* Fontes do Google */
$fonte: 'Outfit', sans-serif;

/* Cores */
$cor-grayish-blue: hsl(220, 15%, 55%);
$cor-white: hsl(0, 0%, 100%);
$cor-light:hsl(212, 45%, 89%);
$cor-dark-blue: hsl(218, 44%, 22%);

/* Reset CSS */
/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Margem default */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Removendo estilos de listas */
ul[role='list'], ol[role='list'] {
    list-style: none;
}

/* Padrões para body */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 0.9375;
}

/* Elementos sem classes receberão estilos default */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Pré-configurações de imagens */
img, picture {
    max-width: 100%;
    display: block;
}

/* Media Query */
@media only screen and (max-width: 375px) {
.card {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    font-size: 0.5rem;
    font-weight: 700;
    margin: 1rem 0.5rem;
}
p {
    font-size: 0.25rem;
    font-weight: 400;
    margin: 1rem 0.5rem;
}
}

/* Estilização principal */
body {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: $fonte;
    font-weight: 400;
    text-align: center;
    font-optical-sizing: auto;
}

.card {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    max-width: 405px;
    min-width: 330px;
    padding: 1.25rem;
    background: $cor-white;
    color: $cor-dark-blue;
    border-radius: 1.5rem;
    border: none;
    text-align: center;
    margin-bottom: 1rem;
}

.card-image {
    border-radius: 1.0rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: 700;
    margin: 1rem 1.25rem;
}

p {
    color: $cor-grayish-blue;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0rem 1.25rem 1rem 1.25rem;
}